
.household-members-container {
  margin-top: 20px;
  padding: 15px;
  background-color: #fff; /* Using a neutral background for the container */
  border: 1px solid #413c3c; /* Border color updated to Soft Blue */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.household-members-title {
  color: #504242;
}

.household-members-list {
  list-style-type: none;
  padding: 0;
}

.household-member-item {
  background-color: #8D8573;
  color: #3d2222;
  border: 1px solid #796969;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 4px;
}

.add-member-form {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.add-member-input {
  flex: 1;
  padding: 10px;
  border: 1px solid var(--warm-neutral);
  border-radius: 4px;
  margin: 10px;
}

.add-member-button {
  background-color: #45a049;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border: 1px solid var(--soft-blue);
  border-radius: 4px;
  cursor: pointer;
}

.error-message {
  color: red;
}
