/* Global styles */
.App {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
}

/* Navigation styles */
nav {
  background: linear-gradient(to left top, #393939, #606060);
  padding: 10px;
}

nav .logo {
  font-family: cursive;
  font-weight: bolder;
  margin-right: 10px; /* Adjust margin for mobile devices */
  margin-left: 10px; /* Adjust margin for mobile devices */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap; /* Allow the flex items to wrap to the next line on smaller screens */
  justify-content: space-between; /* Distribute items evenly */
}

li {
  margin-left: 10px; /* Adjust margin for mobile devices */
  margin-bottom: 10px; /* Adjust margin for mobile devices */
}

a {
  text-decoration: none;
  color: #e7e5e7;
  font-weight: bold;
  font-size: 16px;
}


a:hover {
  color: var(--soft-blue);
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  nav .logo {
    margin-right: 0;
    margin-left: 0;
  }

  ul {
    flex-direction: column; /* Stack the items vertically on smaller screens */
    align-items: center; /* Center items on smaller screens */
  }

  li {
    margin-left: 0;
    margin-bottom: 8px; /* Adjust margin for smaller screens */
  }
}
